<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ss500">

  <!-- SS500 Agricultural Autonomous Tractor -->
  <!-- Main URDF that includes all components -->

  <!-- Include sub-files -->
  <xacro:include filename="$(find ad_simulation)/urdf/ss500_base.urdf.xacro"/>
  <xacro:include filename="$(find ad_simulation)/urdf/ss500_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find ad_simulation)/urdf/ss500_sensors.urdf.xacro"/>

</robot>
